 <main class="flex-shrink-0">
       
        <div class="product-image-top">
            <div class="background" style="background-image: url('assets/assets/img/image-2.jpg');">
                <img src="assets/assets/img/image-2.jpg" alt="" style="display: none;">
            </div>
            <div class="tag-images-count text-white bg-dark">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-size-16 vm" viewBox="0 0 512 512">
                    <title>ionicons-v5-e</title>
                    <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"></path>
                    <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"></rect>
                    <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:32px"></ellipse>
                    <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                    <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                </svg>
                <span class="vm">10</span>
            </div>
            <div class="small-btn-wrap">
                <button class="small-btn btn btn-danger text-white mr-2">
                    <svg xmlns='http://www.w3.org/2000/svg' class="icon-size-16 vm" viewBox='0 0 512 512'><title>ionicons-v5-f</title><circle cx='128' cy='256' r='48' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><circle cx='384' cy='112' r='48' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><circle cx='384' cy='400' r='48' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='169.83' y1='279.53' x2='342.17' y2='376.47' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='342.17' y1='135.53' x2='169.83' y2='232.47' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>                    
                </button>
                <button class="small-btn btn btn-danger text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-size-16 vm" viewBox="0 0 512 512">
                        <title>ionicons-v5-f</title>
                        <path d="M352.92,80C288,80,256,144,256,144s-32-64-96.92-64C106.32,80,64.54,124.14,64,176.81c-1.1,109.33,86.73,187.08,183,252.42a16,16,0,0,0,18,0c96.26-65.34,184.09-143.09,183-252.42C447.46,124.14,405.68,80,352.92,80Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                    </svg>
                </button>
            </div>
        </div>
        <!-- page content start -->
        <div class="container top-30">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>Anastacia </p>
                        </div>
                        <div class="col-auto">
                            <p class="small text-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-size-16" viewBox="0 0 512 512">
                                    <title>ionicons-v5-l</title>
                                    <rect x="32" y="80" width="448" height="256" rx="16" ry="16" transform="translate(512 416) rotate(180)" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"></rect>
                                    <line x1="64" y1="384" x2="448" y2="384" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                                    <line x1="96" y1="432" x2="416" y2="432" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                                    <circle cx="256" cy="208" r="80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></circle>
                                    <path d="M480,160a80,80,0,0,1-80-80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                                    <path d="M32,160a80,80,0,0,0,80-80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                                    <path d="M480,256a80,80,0,0,0-80,80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                                    <path d="M32,256a80,80,0,0,1,80,80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                                </svg>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="small vm">
                                <span class=" text-secondary">4.5</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon-size-12 vm" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path fill="#FFD500" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                </svg>
                                <span class=" text-secondary">| Santiago</span>
                            </p>
                        </div>
                        <div class="col-auto">
                            <p class="small text-secondary">$ 30 / hora</p>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top border-color">
                    <div class="row">
                        <div class="col-auto text-dark text-center">
                            <a data-fslightbox="gallery" href="assets/assets/img/571.jpg">
                               <img src="assets/assets/img/571.jpg" alt="" style="max-width:45px;">
                            </a>
                            <a data-fslightbox="gallery" href="assets/assets/img/43B.jpg">
                               <img src="assets/assets/img/43B.jpg" alt="" style="max-width:45px;">
                            </a>
                            <a data-fslightbox="gallery" href="assets/assets/img/BC6.jpg">
                               <img src="assets/assets/img/BC6.jpg" alt="" style="max-width:45px;">
                            </a>        
                            <a data-fslightbox="gallery" href="assets/assets/img/363.jpg">
                               <img src="assets/assets/img/363.jpg" alt="" style="max-width:45px;">
                            </a>          
                            <a data-fslightbox="gallery" href="assets/assets/img/39B.jpg">
                               <img src="assets/assets/img/39B.jpg" alt="" style="max-width:45px;">
                            </a>
                            <a data-fslightbox="gallery" href="assets/assets/img/29E.jpg">
                               <img src="assets/assets/img/29E.jpg" alt="" style="max-width:45px;">
                            </a>                     
                        </div>                       
                        <div class="col-auto ml-auto">
                           <p class="small text-secondary">6 Fotos,<br>Agosto 2022</p>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top border-color">
            
                    <h6>Servicios</h6>

                    <ul class="text-secondary small lists">
                        <li>Anal</li>
                        <li>Doble penetracion</li>
                        <li>Oral sex</li>
                        <li>Intercambios</li>
                        <li>Trios</li>
                    </ul>

                    <h6>Juguetes y equipo</h6>
                    <div class="row">
                        <div class="col-6">
                            <ul class="text-secondary small lists">
                                <li>Lubriantes</li>
                                <li>Aceites </li>
                                <li>Dildo</li>
                                <li>Esposas</li>
                                <li>Latigo</li>
                                <li>Antifaz</li>
                                <li>Consolador </li>
                            </ul>
                        </div>
   
                    </div>


                    <h6>Presentacion</h6>
                    <div class="text-secondary">
                        <p class="mb-1">Anastacia Fuenmayor</p>
                        <p class="small">Me considero una mujer juguetona y atrevida, tu solo proponme que estoy aqui para satisfacer tu fantasía</p>
                        <p class="mb-1">Juguemos juntos:</p>
                        <p class="small">Santiago.</p>
                    </div>
                    
                    <a href="booknow.html" class="mt-4 btn btn-danger btn-block btn-lg">Contactar</a>
                </div>
            </div>
        </div>
    </main>